<section #footer id="footer" class="p-4 pt-5 mt-4 container-fluid">
    <div class="row mb-5">
        <div class="col-12 col-lg-4 pb-4 footer-about-us">
            <span class="footer-title">Sobre nós</span>
            <div class="mt-3">
                O Mitos Futebol Clube foi fundado em 11 de Desembro de 2017,
                por Geraldo Luiz e Fabiana Fernandes, atuais coordenadores do projeto,
                que tem desde o seu início o objetivo de integrar crianças que sonham
                em ter o futuro dentro do futebol profissional.
                Além desse intuito, a equipe também busca ajudar na 
                formação dos atletas como cidadãos, ensinando através 
                do esporte o respeito pelo próximo, o espírito coletivo, 
                o trabalho em equipe e a dedicação pela vitória, 
                princípios importantes dentro de uma sociedade. 
            </div>
            <div class="footer mt-4">
                <ul class="icons p-0">
                    <li><a href="https://m.facebook.com/MITOSFCSG"><img src="../assets/images/icons/facebook.svg" alt="Pagina Oficial do MitosFC no Facebook"></a></li>
                    <li><a href="https://www.instagram.com/mitosfutsal/"><img src="../assets/images/icons/instagram.png" alt="Pagina Oficial do MitosFC no Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCL1IzdqCSaFLqEfI2pkLcjw"><img src="../assets/images/icons/youtube-white.png" alt="Pagina Oficial do MitosFC no Youtube"></a></li>
                </ul>
            </div> <!--footer-->
        </div>

        <div class="col-12 col-md-6 col-lg-4 pb-4 mt-5 footer-find-us">
            <span class="footer-title">Nos encontre!</span>
            <div class="mt-4">
                <span class="footer-sub-title">Endereço</span>
                <div>Embaixador Social Clube - R. Maria Fonseca, 60 - Camarão, São Gonçalo - RJ, 24435-050</div>
            </div>
            <div class="mt-4">
                <span class="footer-sub-title">Ficou com duvidas?</span>
                <div>geraldojrvendas@gmail.com</div>
            </div>
            <div class="mt-4">
                <span class="footer-sub-title">Telefone</span>
                <div>(21) 99289-1526</div>
            </div>
            <div class="mt-4">
                <span class="footer-sub-title">Whatsapp</span>
                <div>+55 21 99289-1526</div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 pb-4 mt-5" id="partnership">
            <span class="footer-title">Apoio</span>
            <div class="mt-3" id="partnership-container">
                <a href="https://www.focuscontabil.com/" target="blank">
                    <div class="partner-container mt-5" id="focus"></div>
                </a>
                <a href="https://www.facebook.com/crossconsultoria/" target="blank">
                    <div class="partner-container mt-5" id="cross"></div>
                </a>
            </div>
        </div>
    </div>
    <hr style="background: rgba(255,255, 255, .4);">
    <div class="copy">
        <span>&copy; 2020 MITOS FUTEBOL CLUBE</span>
    </div>
</section>
