.navbar-brand img{
    width: 60px;
    border-radius: 100%;
    transition: .5s ease;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
    margin-right: 15px;
}

.reduced-logo {
    width: 50px!important;
}

#logo-text{font-size: 1.5rem;}
.navbar-nav {
    text-align: center;
}

.navbar-toggler-white {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.navbar-bordered {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

#responsive-nav {
    transition: .5s ease;
}

.navbar-light .navbar-toggler {
    border: none!important;
}

.nav-item:hover {cursor: pointer;}
