* {box-sizing: border-box;}

html, body, header, .filter{height: 100%;}

#root {margin: 0%;}

header {
    background-image: url('assets/images/bg-mitos.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

header .filter {
    background: rgba(0,0,0,.7);
}