<app-main-menu></app-main-menu>
<header class="container-fluid">
    <div class="filter row justify-content-center">
        <div class="content align-self-center">
            <div class="body">
                <div class="phrases">
                    <h1>SEJA BEM VINDO AO <b>MITOS FUTEBOL CLUBE</b></h1>
                </div>
            </div>
            <div class="footer m-4">
                <ul class="icons">
                    <li><a href="#"><img src="../assets/images/icons/facebook.svg" alt="Pagina Oficial do MitosFC no Facebook"></a></li>
                    <li><a href="#"><img src="../assets/images/icons/instagram.png" alt="Pagina Oficial do MitosFC no Instagram"></a></li>
                    <li><a href="#"><img src="../assets/images/icons/youtube-white.png" alt="Pagina Oficial do MitosFC no Youtube"></a></li>
                </ul>
            </div> <!--footer-->
        </div> <!-- FOOTER -->

        <div id="more">
            <a href="#">
                <div id="more-row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <div>
                        <span>Saber Mais</span>
                    </div>
                </div> <!-- MORE-ROW -->
            </a>
        </div> <!-- MORE -->
    </div> <!-- ROW-->
</header>