#footer {
    color: white;
    background: #891010;
    line-height: 1.9;
}

#footer ul li {display: inline-block;}

#footer ul li img{width: 30px; margin: 10px;}

.footer-title {
    font-size: 20px;
    font-weight: normal;
}

.footer-sub-title {
    font-weight: normal;
}

.partner-container{
    width: 120px;
    height: 120px;
    background:white;
    border-radius: 100%;
    
    background-repeat: no-repeat!important;

    background-position: center!important;

}

#focus {
    background: url('../../assets/images/focus.png');
    background-size: contain!important;
    background-color: white;

}

#cross{
    background-size: cover!important;
    background: url('../../assets/images/cross.jpg')
}

#partnership {
    text-align: center;
}

#partnership-container div {margin: auto;}

.copy{
    text-align: center;
}