header .phrases {
    text-align: center;
    color: white;
}

.phrases h1 {
    font-weight: lighter!important;
}
header .footer a {
    text-decoration: none;
    color: white;
}

header ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

header ul li {display: inline-block;}

header ul li img{width: 30px; margin: 10px;}

#more {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
#more:hover{cursor: pointer;}
#more a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#more-row {margin: 30px;}

#more-row h4 {font-weight: lighter;}

#about-text {line-height: 1.9;}

#about {
    background: #f8f9fa !important;
    padding: 2rem;
}

#modalities {
    text-align: center;
    background: rgba(248, 249, 250, 1) !important;
    padding-top: 4.75rem!important;
    padding-bottom: 4.75rem!important;
    
}

#modalities h4 {
    color: rgba(0, 0, 0, .7);
}

.modality {
    max-width: 360px;
    max-height: 320px;
    border-radius: 20px;
    padding: 0;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.filtered-modality{
    padding: 100px 40px;
    border-radius: 20px;
    max-width: 360px;
    max-height: 320px;
}

.modalities-container{
    max-width: 1080px;
    margin: auto;
}

#reviews {padding: 5rem 3rem!important;}

.review-container {
    padding: 10px;
}
.review-image {
    max-height: 100%;
    max-width: 100%;
    transition: .3s ease;
}

.review-image:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

@media screen and (max-width: 340px){
    .filtered-modality{
        padding: 60px 40px;
    }
}

@media screen and (min-width: 786px){
    #about{
        padding: 5rem!important;
    }
}

@media screen and (max-width: 992px){
    #reviews{
        text-align: center;
    }
}

@media screen and (max-width: 1080px){
    #modalities{
        color: white;
    }

    .modality-row{
        margin: auto;
    }
}

@media screen and (min-width: 1080px){
    .content{width: 100%;}
    .icons li {
        display: block!important;
    }
}