* {box-sizing: border-box;}

html, body, header, .filter{height: 100%;}
body{font-family: sans-serif!important; font-weight: lighter;}

#root {margin: 0%;}

header {
    background-image: url('assets/images/bg-mitos.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .filter {
    background: rgba(0,0,0,.6);
}

.red {
    color: #891010;
}

.red-85 {
    background:rgba(137, 16, 16, .85);
}

.green-85{
    background: rgba(17, 95, 52, .85);
}

.title {
    border-bottom: 1px solid rgba(137, 16, 16, 0.8);
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 10px;
}

.about-wrapper, .team-wrapper, .reviews-wrapper, .modalities-container{
    max-width: 800px;
    margin: auto;
}